body {
    background-color: black;
    color: aliceblue;
}

.container {
    width: 70vw;
    height: 100vh;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
}

input, button {
    margin: 1rem, 0rem;

    line-height: 1.8rem;
}

h1 {
    color: aliceblue;
    margin-top: 40px;
    text-align: center;
}

h5 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
    color: aliceblue;
}


button{
    background-color: brown;
    margin-top: 10px;
    font-size: 18px;
    margin-left: 300px;
    margin-bottom: 10px;
    margin-right: 300px;
    color: aliceblue
    }

.contacto{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contacto p{
    flex: 8;
    font-size: 18px;
}

.contacto span{
    margin: 10px;
    flex: 1;
    color: tomato;
    cursor: pointer;
}

.container input {
    margin: 10px;
    font-size: 20px;
    text-align: center;
   margin-left: 100px;
    margin-right: 100px;
}